<div class="row">
    <div class="col-md-6 offset-3">

        <div style="width:100%" class="mx-auto mt-2">
            <form [formGroup]="service.registerModel" class="signup_form" autocomplete="off" (submit)="submit()" method="post">
                    <legend class=title >Login</legend>
            <div class="form-group">
                <label class='label'  >UserName</label>
                <input  class=" input" formControlName="UserName">
                <div class="smalltext" *ngIf="service.loginModel.get('UserName').touched && service.loginModel.get('UserName').errors?.required" >UserName Required</div>
                <div class="sm  alltext" *ngIf="service.loginModel.get('UserName').touched && service.loginModel.get('UserName').errors?.minLength">Enter Valid UserName</div>
            </div>
            <div  formGroupName="Passwords">
            <div class="form-group">
                <label class='label' >Password</label>
                <input type="password"  class=" input" formControlName="Password">
                <div  class="smalltext" *ngIf="service.loginModel.get('Passwords.Password').touched && service.loginModel.get('Passwords.Password').errors?.required" >Password Required</div>
                <div  class="smalltext" *ngIf="service.loginModel.get('Passwords.Password').touched && service.loginModel.get('Passwords.Password').errors?.minLength" >Password Required</div>
            </div>
            <div class="form-group">
                <label class='label' >ReType Password</label>
                <input type="password"  class=" input" formControlName="ConfirmPassword">
                <div  class="smalltext" *ngIf="service.loginModel.get('Passwords.ConfirmPassword').touched && service.loginModel.get('Passwords.ConfirmPassword').errors?.required" >Password Required</div>
                <div  class="smalltext" *ngIf="service.loginModel.get('Passwords.ConfirmPassword').touched && service.loginModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch" >Password Required</div>
            </div>
            </div>
            <button type="submit" class="signupbtn" [disabled]="!service.loginModel.valid"  >Login</button>
        </form>
        </div>
    </div>
</div>

