

    
            <div class="editroleform">
                <div class="form-content">
                <legend class="text-center">{{title}}</legend>
                <form class="form-group" [formGroup]='createRoleForm ' (submit)="Submit()">
                    <div class="form-group">
                        <input class="form-control" formControlName="name" />
                    </div>
                    <button class="form-control btn btn-success"  >{{title}}</button>
    
                </form>
            </div>

   