.group {
  background-color: #222b45 !important;
  font-size: 12px !important;
  color: grey !important;
  cursor: pointer;
}
.group:hover {
  background-color: white;
  font-size: 1.2em;
  color: black;
  cursor: pointer;
}
.treeview a:hover {
  background: none !important;
  cursor: pointer;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
  color: grey;
  font-size: 12px;
}
.treeview a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 599;
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: #fff !important;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}
/* ========== style of non branches like pos ============ */
.treeview .coloring {
  color: #adadaf;
  font-size: 12px;
  cursor: default;
}
/* ========= sidebar ========= */
.main-sideba {
  background-color: #222b45 !important;
  color: #fff !important;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding-right: -100px;

  overflow-y: scroll;
  opacity: 1 !important;
}
.sideba {
  height: 100vh;
}
/* ========================== css for scrollbar ===========================  */
/* width */
::-webkit-scrollbar {
  width: 0px;
}
/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #151a30; 
    border-radius: none;
  } */
/* Handle */
::-webkit-scrollbar-thumb {
  background: #29335e;
  border-radius: none;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #171138;
}
/* style of treeview main icon  */
.treeview i {
  color: whitesmoke;
  font-size: 1.2em;
  padding-top: 5px;
  padding-right: 5px;
}
/* style of inner of font office */
.treeview-menu {
  background: #222b45 !important;
}
.treeview .treeview-menu .textleft {
  font-size: 14px !important;
  padding-bottom: 10px;
  padding-top: 10px;
}
.treeview-menu .flexing {
  display: flex;
  padding-left: 12%;
  width: 95%;
}
.treeview-menu .pull-left {
  color: #fff;
  font-size: 18px;
  padding-top: 12px !important;
  padding-right: 7px;
}
/* ============== css of second inner of fontstyle ======== */
.secondinner {
  width: 95%;
  font-size: 14px !important;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5% !important;
}
/* ====================== css of another second =================== */
.anothersecond {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5% !important;
  width: 100%;
}
