<mat-sidenav-container>
    <mat-sidenav  [(opened)]="opened" (opened)="open()" mode="side">
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mynav">
            <input class="menu-trigger hidden" (click)="opened=!opened" id="togglenav" type="checkbox"/>
<label class="burger-wrapper" for="togglenav">
  <div class="hamburger"></div>
</label>
            <div>
                <span >Home</span>
                <span>Contact</span>
                <span>{{User}}</span>
                <!-- <button mat-raised-button [mat-menu-trigger-for]="usermenu">User</button>
                <mat-menu #usermenu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>profile</mat-icon>
                        <span>Profile</span>
                        
                    </button>
                    <button mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        <span>Logout</span>
                        
                    </button>
                </mat-menu> -->
               
            </div>
        </mat-toolbar>
        <router-outlet>
            
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>