
<mat-sidenav-container *ngIf="loggedin$ | async else notLoggedIn">
    <mat-sidenav  [(opened)]="opened" mode="side" style="padding:0;margin:0" >
        <app-header-component></app-header-component>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mynav">
            <input class="menu-trigger hidden" (click)="opened=!opened" id="togglenav" type="checkbox"/>
<label class="burger-wrapper" for="togglenav">
  <div class="hamburger"></div>
</label>
            <div>
                <span >Home</span>
                <span>Contact</span>
                <span (click)="logout()"></span>
            </div>
        </mat-toolbar >
        <router-outlet class="router-outlet">
            
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #notLoggedIn>
    <router-outlet>
    </router-outlet>
</ng-template>
