mat-sidenav{
    background-color:#222b45;
    height:100vh;
    width:230px;
    box-shadow: 5px 45px 15px black;
}
/* loader */
.loader {
  border: 6px solid #686767;
  border-radius: 50%;
  border-top: 6px solid #222b45;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loading{
  position:absolute;
  top:calc(50vh - 30px);
  left:calc(50% - 30px);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ::-webkit-scrollbar {
    width: 10px;
  } */
  
/*
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: orangered; 
    border-radius: 5px;
  }
  
 
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 54, 3); 
  } */
mat-sidenav-content{
    background-color:white;
    height: 100vh;
    overflow-y:hidden;
}
.main-area{
  background-color:#151a30;
  padding:1em;
  height:100vh;
  overflow:scroll;
}
.mynav{
    background-color:#222b45;
    justify-content: space-between;
    height: 45px;
    position: sticky;
    top:0;
    left:0;
    z-index:10;
    box-shadow: 0px 5px 20px black;

}
span{
    padding:1rem;
    cursor: pointer;
    color:white;
    font-size: 1.2rem;
}
.burger-wrapper {
    cursor: pointer;
    margin: auto;
    width: 35px;
    height: 20px;
    margin:0;
    margin-top:-25px;
  }
  .burger-wrapper .hamburger {
    background: white;
    width: 30px;
    height: 4px;
    margin-left:0;
    position: relative;
    -webkit-transition: background 10ms 300ms ease;
    transition: background 10ms 300ms ease;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .burger-wrapper .hamburger:before, .burger-wrapper .hamburger:after {
    position: absolute;
    background: white;
    width: 30px;
    height: 4px;
    content: "";
  }
  .burger-wrapper .hamburger:before {
    top: -8px;
  }
  .burger-wrapper .hamburger:after {
    top: 8px;
  }
 
  
  .hidden {
    display: none;
  }
  .ng-star-inserted{
      padding:0;
      margin:0;

  }
  li{
    min-height: 2em;
      margin:0;
      list-style: none;
      padding-left:5px;
      color:white;
      font-size:1.4em;
  }

   .primary{
    border:1px solid orange;
    background-color: orangered;
    color:white;
    font-size:1.2em;
    padding:.5rem;
  }
   .secondary{
      background-color:silver;
        padding:.6rem;
  }
  