
.body{
    padding: 0;
    margin:0;
    background:skyblue;
    overflow-x:hidden;
}
.title{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color:#fc4c02;
    width:100px;
    margin-left:calc(45% - 50px);
    margin-bottom: 0;
}
.signuptext{
    font-size:1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signup_pic{
    min-height:200px;
    height:fit-content;
    margin-top:calc(28vh - 100px);
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px solid #fc4c02;
    text-align: center;
    border-radius: 5px;
    color:#fc4c02;
}
.smalltext{
    font-size:.7rem;
    color:rgba(23, 2, 23, 0.87);
    position: relative;
    margin-left:.7rem;
}
.smalltext::before{
    content:"*";
    font-size:1.1rem;
    position: absolute;
    color:orangered;
    left:-.6rem;
    bottom:40%;
    display:block;
    width:100%;
    height:100%;   
}
.logo{
    fill:#fc4c02;
    color:#fc4c02;  
    border-color:#fc4c02;
    background-color:#fc4c02;
}
.input{
    border:1px solid #fc4c02;
    width:100%;
    height: 2.2em;
    border-radius: 5px;
    text-indent: .6em;
    color:#ee723d;
}
.input:focus{
    outline: none;
    outline-offset: 2px;
    border-color: #eb6329;
    box-shadow: orangered 0px 0px 4px;
    color:#fc4c02;
}
.label{
    color:#fc4c02;
}
.signupbtn{
    width:100%;
    border:none;
    padding:.3em 3em;
    border-radius:3px;
    position: relative;
    background-color:#fc4c02;
    color:white;
}
.signupbtn::before{
    position: absolute;
    content: "";
    left:-3px;;
    bottom:-3px;
    border-bottom:2px solid orangered;
    border-left:2px solid orangered;
    width:calc(100% + 6px);
    height:calc(100% + 6px);
    border-radius:5px;
    transform:scale(0);
    transform-origin: left bottom;
    transition: transform 400ms ease-in;
}
.signupbtn::after{
    position: absolute;
    content: "";
    right:-3px;;
    top:-3px;
    border-top:2px solid orangered;
    border-right:2px solid orangered;
    width:calc(100% + 6px);
    height:calc(100% + 6px);
    border-radius: 5px;
    transform:scale(0);
    transform-origin: right top;
    transition: transform 400ms ease-in;
}
.signupbtn:hover::before{
    transform:scale(1);
}
.signupbtn:hover::after{
    transform:scale(1);
}